<form class="profile-content-form">

   <ng-container *ngFor="let subsection of subsections">
      
      <app-reactive-form-card class="m-1" [heading]="subsection.heading" 
                                          [fields]="subsection.fields" 
                                          [subsection]="subsection.subsection"
                                          (onSave)="saveProfile($event)">
      </app-reactive-form-card>

   </ng-container> 

   <div class="button-group col-md-6 border p-2 m-2">
      <button class="btn btn-primary mx-1" type="button" (click)="saveProfile($event)">Save</button>
      <button class="btn btn-warning mx-1" type="button">Cancel</button>
      <button class="btn btn-info mx-1" type="button" (click)="exit()">Exit</button>
   </div>

   <pre>
       {{ (authState | async) | prettyprint }}
    </pre>

</form>